<mat-toolbar>
  <h1 class="nav-heading"><a href="/home">ZenduForms</a></h1>

  <div class="nav-body">



    <a routerLink="/form" routerLinkActive="active" class="nav-link">
      <mat-icon> format_list_bulleted</mat-icon>Forms</a>
    <a routerLink="/customers" routerLinkActive="active" class="nav-link">
      <mat-icon>people</mat-icon>Customers</a>
    <a routerLink="/submissions" routerLinkActive="active" class="nav-link">
      <mat-icon>graphic_eq</mat-icon>Submissions</a>
    <a routerLink="/history" routerLinkActive="active" class="nav-link">
      <mat-icon>history</mat-icon>History</a>
    <a routerLink="/reports" routerLinkActive="active" class="nav-link">
      <mat-icon> insert_chart_outlined</mat-icon>Reports</a>
    <a routerLink="/workflow" routerLinkActive="active" class="nav-link">
      <mat-icon> insert_chart_outlined</mat-icon>Workflow
    </a>



  </div>
  <div>
    <button mat-icon-button class="nav-btn">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="logout-btn" id="btn1">
      <mat-icon>logout</mat-icon>
    </button>
  </div>


</mat-toolbar>